

h1{
  font-family: "Fugaz One", serif;
  font-weight:900;
  color: rgba(255, 255, 255, 0.164);
  animation-name: head;
  background-color:initial;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes head {
  from
  {
    color: initial;  

  }to{
     color:#cb202d;

  }0%{
      color:initial;
      transition:2s;
      transition: 2s ease-in-out;
  }
         
  10%{
      color:initial;
      transition:2s;
      transition: 2s ease-in-out;

  }20%{
      color:#cb202d;
      transition:2s;
      transition: 2s ease-in-out;
  }
      
  95%{
      color:initial;
      transition: 2s ease-in-out;
  }100%{
      color:black;
  }
  
  
}
body{

    font-family: "Poppins", serif;
    font-weight: 500;
    background-image:url('/static/back2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
  
  color:black
  
}
table.dataframe, .dataframe th,.dataframe td {
  width:50px;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.636);


}

td,th{
  width: 30px;
}
form{
  padding: 20px;
}
button{
  font-family:"Poppins", serif ;
  background-color: #cb202d;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 7px;
  border: 5px;
  border-radius: 10px;
  
}
button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
button:hover{
  background-color: white;
  transition:all 0.2s ease
}

select{
  border: 0px;
  border-radius: 10px;
  width: 200px;
}

p{
  padding-bottom:5px;
}

center.stats{
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
}
div#book{
  font-weight: 400;
  color: aliceblue;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.164); ;
  padding: 7px;
  border: 5px;
  border-radius: 10px;
}
#book:hover,#ana:hover,.filter:hover{
  transform:translateY(4px);;
  background-color:rgba(0, 0, 0, 0.636);
  transition:all 0.3s ease-in-out
  }
div#ana,.filter{
  font-weight: 400;
  color: aliceblue;
  padding: 5px;
  background-color: rgba(151, 151, 151, 0.127) ;
  padding: 7px;
  border: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}
center.stats:hover{
  color: aliceblue;
  font-size: 22px;
  font-weight:900;
  background-color: rgba(0, 0, 0, 0.636);;
  transition:all 0.2s ease-in-out
  
}
label{
  font-family: "Poppins", serif;
  font-weight: bolder;
}